In [ ]:
import pandas as pd
df_202205 = pd.read_csv("../data/202205health.csv",
                        encoding = "utf-8",
                       index_col = '日付',
                       parse_dates = True)

df_202205

                歩数  摂取カロリー
日付
2022-05-01  1439.0  4500.0
2022-05-02  8120.0  2420.0
2022-05-03     NaN     NaN
2022-05-04  2329.0  1500.0
2022-05-05     NaN     NaN
2022-05-06  3233.0  1800.0
2022-05-07  9593.0  2200.0
2022-05-08  9213.0  1800.0
2022-05-09  5593.0  2500.0

In [5]:
df_202205_drop = df_202205.dropna()
df_202205_drop

                歩数  摂取カロリー
日付
2022-05-01  1439.0  4500.0
2022-05-02  8120.0  2420.0
2022-05-04  2329.0  1500.0
2022-05-06  3233.0  1800.0
2022-05-07  9593.0  2200.0
2022-05-08  9213.0  1800.0
2022-05-09  5593.0  2500.0

In [6]:
df_202205_fillna = df_202205.fillna(0)
df_202205_fillna

                歩数  摂取カロリー
日付
2022-05-01  1439.0  4500.0
2022-05-02  8120.0  2420.0
2022-05-03     0.0     0.0
2022-05-04  2329.0  1500.0
2022-05-05     0.0     0.0
2022-05-06  3233.0  1800.0
2022-05-07  9593.0  2200.0
2022-05-08  9213.0  1800.0
2022-05-09  5593.0  2500.0

In [9]:
df_202205_fill = df_202205.fillna(method = 'ffill')
df_202205_fill

                歩数  摂取カロリー
日付
2022-05-01  1439.0  4500.0
2022-05-02  8120.0  2420.0
2022-05-03  8120.0  2420.0
2022-05-04  2329.0  1500.0
2022-05-05  2329.0  1500.0
2022-05-06  3233.0  1800.0
2022-05-07  9593.0  2200.0
2022-05-08  9213.0  1800.0
2022-05-09  5593.0  2500.0

In [10]:
df_202205_fillmean = df_202205.fillna(df_202205.mean())
df_202205_fillmean

                     歩数       摂取カロリー
日付
2022-05-01  1439.000000  4500.000000
2022-05-02  8120.000000  2420.000000
2022-05-03  5645.714286  2388.571429
2022-05-04  2329.000000  1500.000000
2022-05-05  5645.714286  2388.571429
2022-05-06  3233.000000  1800.000000
2022-05-07  9593.000000  2200.000000
2022-05-08  9213.000000  1800.000000
2022-05-09  5593.000000  2500.000000

In [11]:
import pandas as pd
df = pd.read_pickle("../data/df_202204health.pickle")
df

               歩数  摂取カロリー   歩数/カロリー  運動指数
date
2022-04-01   5439  2500.0  2.175600   LOW
2022-04-02   2510  2300.0  1.091304   LOW
2022-04-03  10238  1950.0  5.250256   Mid
2022-04-04   8209  1850.0  4.437297   Mid
2022-04-05   9434  1930.0  4.888083   Mid
2022-04-06   7593  1800.0  4.218333   Mid
2022-04-07   9320  1940.0  4.804124   Mid
2022-04-08   4873  2300.0  2.118696   LOW
2022-04-09  12045  1950.0  6.176923  High
2022-04-10   7493  1850.0  4.050270   Mid
2022-04-11   7289  1930.0  3.776684   Mid
2022-04-12   6481  2300.0  2.817826   LOW
2022-04-13  10287  1800.0  5.715000   Mid
2022-04-14   8043  1940.0  4.145876   Mid
2022-04-15   7435  2300.0  3.232609   Mid
2022-04-16   7529  2300.0  3.273478   Mid
2022-04-17   8031  1940.0  4.139691   Mid
2022-04-18   8475  2300.0  3.684783   Mid
2022-04-19   8132  1950.0  4.170256   Mid
2022-04-20  15328  1800.0  8.515556  High
2022-04-21  12849  1940.0  6.623196  High
2022-04-22   4029  2300.0  1.751739   LOW
2022-04-23   3890  1950.0  1.994872   LOW
2022-04-24   8093  1850.0  4.374595   Mid
2022-04-25   7823  1950.0  4.011795   Mid
2022-04-26   7492  1850.0  4.049730   Mid
2022-04-27   7203  1930.0  3.732124   Mid
2022-04-28   7302  1850.0  3.947027   Mid
2022-04-29   6033  2300.0  2.623043   LOW
2022-04-30   4093  1950.0  2.098974   LOW

In [12]:
df_moved = pd.read_pickle("../data/df_202204moved.pickle")
df_moved

            運動_High  運動_LOW  運動_Mid
date
2022-04-01        0       1       0
2022-04-02        0       1       0
2022-04-03        0       0       1
2022-04-04        0       0       1
2022-04-05        0       0       1
2022-04-06        0       0       1
2022-04-07        0       0       1
2022-04-08        0       1       0
2022-04-09        1       0       0
2022-04-10        0       0       1
2022-04-11        0       0       1
2022-04-12        0       1       0
2022-04-13        0       0       1
2022-04-14        0       0       1
2022-04-15        0       0       1
2022-04-16        0       0       1
2022-04-17        0       0       1
2022-04-18        0       0       1
2022-04-19        0       0       1
2022-04-20        1       0       0
2022-04-21        1       0       0
2022-04-22        0       1       0
2022-04-23        0       1       0
2022-04-24        0       0       1
2022-04-25        0       0       1
2022-04-26        0       0       1
2022-04-27        0       0       1
2022-04-28        0       0       1
2022-04-29        0       1       0
2022-04-30        0       1       0

In [14]:
df_merged = pd.concat([df, df_moved], axis=1)
df_merged

               歩数  摂取カロリー   歩数/カロリー  運動指数  運動_High  運動_LOW  運動_Mid
date
2022-04-01   5439  2500.0  2.175600   LOW        0       1       0
2022-04-02   2510  2300.0  1.091304   LOW        0       1       0
2022-04-03  10238  1950.0  5.250256   Mid        0       0       1
2022-04-04   8209  1850.0  4.437297   Mid        0       0       1
2022-04-05   9434  1930.0  4.888083   Mid        0       0       1
2022-04-06   7593  1800.0  4.218333   Mid        0       0       1
2022-04-07   9320  1940.0  4.804124   Mid        0       0       1
2022-04-08   4873  2300.0  2.118696   LOW        0       1       0
2022-04-09  12045  1950.0  6.176923  High        1       0       0
2022-04-10   7493  1850.0  4.050270   Mid        0       0       1
2022-04-11   7289  1930.0  3.776684   Mid        0       0       1
2022-04-12   6481  2300.0  2.817826   LOW        0       1       0
2022-04-13  10287  1800.0  5.715000   Mid        0       0       1
2022-04-14   8043  1940.0  4.145876   Mid        0       0       1
2022-04-15   7435  2300.0  3.232609   Mid        0       0       1
2022-04-16   7529  2300.0  3.273478   Mid        0       0       1
2022-04-17   8031  1940.0  4.139691   Mid        0       0       1
2022-04-18   8475  2300.0  3.684783   Mid        0       0       1
2022-04-19   8132  1950.0  4.170256   Mid        0       0       1
2022-04-20  15328  1800.0  8.515556  High        1       0       0
2022-04-21  12849  1940.0  6.623196  High        1       0       0
2022-04-22   4029  2300.0  1.751739   LOW        0       1       0
2022-04-23   3890  1950.0  1.994872   LOW        0       1       0
2022-04-24   8093  1850.0  4.374595   Mid        0       0       1
2022-04-25   7823  1950.0  4.011795   Mid        0       0       1
2022-04-26   7492  1850.0  4.049730   Mid        0       0       1
2022-04-27   7203  1930.0  3.732124   Mid        0       0       1
2022-04-28   7302  1850.0  3.947027   Mid        0       0       1
2022-04-29   6033  2300.0  2.623043   LOW        0       1       0
2022-04-30   4093  1950.0  2.098974   LOW        0       1       0

In [15]:
df_merged_0405 = pd.concat([df_merged, df_202205_fill],
                          axis=0, sort=True)
df_merged_0405

            摂取カロリー       歩数   歩数/カロリー  運動_High  運動_LOW  運動_Mid  運動指数
2022-04-01  2500.0   5439.0  2.175600      0.0     1.0     0.0   LOW
2022-04-02  2300.0   2510.0  1.091304      0.0     1.0     0.0   LOW
2022-04-03  1950.0  10238.0  5.250256      0.0     0.0     1.0   Mid
2022-04-04  1850.0   8209.0  4.437297      0.0     0.0     1.0   Mid
2022-04-05  1930.0   9434.0  4.888083      0.0     0.0     1.0   Mid
2022-04-06  1800.0   7593.0  4.218333      0.0     0.0     1.0   Mid
2022-04-07  1940.0   9320.0  4.804124      0.0     0.0     1.0   Mid
2022-04-08  2300.0   4873.0  2.118696      0.0     1.0     0.0   LOW
2022-04-09  1950.0  12045.0  6.176923      1.0     0.0     0.0  High
2022-04-10  1850.0   7493.0  4.050270      0.0     0.0     1.0   Mid
2022-04-11  1930.0   7289.0  3.776684      0.0     0.0     1.0   Mid
2022-04-12  2300.0   6481.0  2.817826      0.0     1.0     0.0   LOW
2022-04-13  1800.0  10287.0  5.715000      0.0     0.0     1.0   Mid
2022-04-14  1940.0   8043.0  4.145876      0.0     0.0     1.0   Mid
2022-04-15  2300.0   7435.0  3.232609      0.0     0.0     1.0   Mid
2022-04-16  2300.0   7529.0  3.273478      0.0     0.0     1.0   Mid
2022-04-17  1940.0   8031.0  4.139691      0.0     0.0     1.0   Mid
2022-04-18  2300.0   8475.0  3.684783      0.0     0.0     1.0   Mid
2022-04-19  1950.0   8132.0  4.170256      0.0     0.0     1.0   Mid
2022-04-20  1800.0  15328.0  8.515556      1.0     0.0     0.0  High
2022-04-21  1940.0  12849.0  6.623196      1.0     0.0     0.0  High
2022-04-22  2300.0   4029.0  1.751739      0.0     1.0     0.0   LOW
2022-04-23  1950.0   3890.0  1.994872      0.0     1.0     0.0   LOW
2022-04-24  1850.0   8093.0  4.374595      0.0     0.0     1.0   Mid
2022-04-25  1950.0   7823.0  4.011795      0.0     0.0     1.0   Mid
2022-04-26  1850.0   7492.0  4.049730      0.0     0.0     1.0   Mid
2022-04-27  1930.0   7203.0  3.732124      0.0     0.0     1.0   Mid
2022-04-28  1850.0   7302.0  3.947027      0.0     0.0     1.0   Mid
2022-04-29  2300.0   6033.0  2.623043      0.0     1.0     0.0   LOW
2022-04-30  1950.0   4093.0  2.098974      0.0     1.0     0.0   LOW
2022-05-01  4500.0   1439.0       NaN      NaN     NaN     NaN   NaN
2022-05-02  2420.0   8120.0       NaN      NaN     NaN     NaN   NaN
2022-05-03  2420.0   8120.0       NaN      NaN     NaN     NaN   NaN
2022-05-04  1500.0   2329.0       NaN      NaN     NaN     NaN   NaN
2022-05-05  1500.0   2329.0       NaN      NaN     NaN     NaN   NaN
2022-05-06  1800.0   3233.0       NaN      NaN     NaN     NaN   NaN
2022-05-07  2200.0   9593.0       NaN      NaN     NaN     NaN   NaN
2022-05-08  1800.0   9213.0       NaN      NaN     NaN     NaN   NaN
2022-05-09  2500.0   5593.0       NaN      NaN     NaN     NaN   NaN

In [16]:
import pandas as pd
df = pd.read_pickle("../data/df_202204health.pickle")
df.head()

               歩数  摂取カロリー   歩数/カロリー 運動指数
date
2022-04-01   5439  2500.0  2.175600  LOW
2022-04-02   2510  2300.0  1.091304  LOW
2022-04-03  10238  1950.0  5.250256  Mid
2022-04-04   8209  1850.0  4.437297  Mid
2022-04-05   9434  1930.0  4.888083  Mid

In [17]:
df.loc[:, "摂取カロリー"].max()

2500.0

In [18]:
df.loc[:, "摂取カロリー"].min()

1800.0

In [19]:
df.loc[:, "摂取カロリー"].mode()

0    2300.0
Name: 摂取カロリー, dtype: float32

In [20]:
df.loc[:, "摂取カロリー"].mean()

2026.6666

In [21]:
df.loc[:, "摂取カロリー"].median()

1945.0

In [22]:
df.loc[:, "摂取カロリー"].std()

205.54944

In [24]:
df.loc[:, "摂取カロリー"].std(ddof=0)

202.09459

In [25]:
df.loc[df.loc[:, "摂取カロリー"] == 2300, :].count()

歩数         8
摂取カロリー     8
歩数/カロリー    8
運動指数       8
dtype: int64

In [26]:
df.describe()

                 歩数       摂取カロリー    歩数/カロリー
count     30.000000    30.000000  30.000000
mean    7766.366667  2026.666626   3.929658
std     2689.269308   205.549438   1.563674
min     2510.000000  1800.000000   1.091304
25%     6661.500000  1870.000000   2.921522
50%     7561.000000  1945.000000   4.030762
75%     8408.500000  2300.000000   4.421622
max    15328.000000  2500.000000   8.515556

In [35]:
df.corr()

               歩数    摂取カロリー   歩数/カロリー
歩数       1.000000 -0.498703  0.982828
摂取カロリー  -0.498703  1.000000 -0.636438
歩数/カロリー  0.982828 -0.636438  1.000000

In [42]:
from pandas.plotting import scatter_matrix
import pandas as pd

In [47]:
_ = pd.plotting.scatter_matrix(df)

AttributeError: 'RcParams' object has no attribute '_get'

In [33]:
df.loc[:, ["歩数", "摂取カロリー"]]

               歩数  摂取カロリー
date
2022-04-01   5439  2500.0
2022-04-02   2510  2300.0
2022-04-03  10238  1950.0
2022-04-04   8209  1850.0
2022-04-05   9434  1930.0
2022-04-06   7593  1800.0
2022-04-07   9320  1940.0
2022-04-08   4873  2300.0
2022-04-09  12045  1950.0
2022-04-10   7493  1850.0
2022-04-11   7289  1930.0
2022-04-12   6481  2300.0
2022-04-13  10287  1800.0
2022-04-14   8043  1940.0
2022-04-15   7435  2300.0
2022-04-16   7529  2300.0
2022-04-17   8031  1940.0
2022-04-18   8475  2300.0
2022-04-19   8132  1950.0
2022-04-20  15328  1800.0
2022-04-21  12849  1940.0
2022-04-22   4029  2300.0
2022-04-23   3890  1950.0
2022-04-24   8093  1850.0
2022-04-25   7823  1950.0
2022-04-26   7492  1850.0
2022-04-27   7203  1930.0
2022-04-28   7302  1850.0
2022-04-29   6033  2300.0
2022-04-30   4093  1950.0

In [34]:
df.loc[:, ["歩数", "摂取カロリー"]].values

array([[ 5439.,  2500.],
       [ 2510.,  2300.],
       [10238.,  1950.],
       [ 8209.,  1850.],
       [ 9434.,  1930.],
       [ 7593.,  1800.],
       [ 9320.,  1940.],
       [ 4873.,  2300.],
       [12045.,  1950.],
       [ 7493.,  1850.],
       [ 7289.,  1930.],
       [ 6481.,  2300.],
       [10287.,  1800.],
       [ 8043.,  1940.],
       [ 7435.,  2300.],
       [ 7529.,  2300.],
       [ 8031.,  1940.],
       [ 8475.,  2300.],
       [ 8132.,  1950.],
       [15328.,  1800.],
       [12849.,  1940.],
       [ 4029.,  2300.],
       [ 3890.,  1950.],
       [ 8093.,  1850.],
       [ 7823.,  1950.],
       [ 7492.,  1850.],
       [ 7203.,  1930.],
       [ 7302.,  1850.],
       [ 6033.,  2300.],
       [ 4093.,  1950.]])