In [3]:
import pandas as pd

df = pd.read_csv("../data/202204health.csv", encoding="UTF-8")

df

            日付     歩数  摂取カロリー
0   2022-04-01   5439    2500
1   2022-04-02   2510    2300
2   2022-04-03  10238    1950
3   2022-04-04   8209    1850
4   2022-04-05   9434    1930
5   2022-04-06   7593    1800
6   2022-04-07   9320    1940
7   2022-04-08   4873    2300
8   2022-04-09  12045    1950
9   2022-04-10   7493    1850
10  2022-04-11   7289    1930
11  2022-04-12   6481    2300
12  2022-04-13  10287    1800
13  2022-04-14   8043    1940
14  2022-04-15   7435    2300
15  2022-04-16   7529    2300
16  2022-04-17   8031    1940
17  2022-04-18   8475    2300
18  2022-04-19   8132    1950
19  2022-04-20  15328    1800
20  2022-04-21  12849    1940
21  2022-04-22   4029    2300
22  2022-04-23   3890    1950
23  2022-04-24   8093    1850
24  2022-04-25   7823    1950
25  2022-04-26   7492    1850
26  2022-04-27   7203    1930
27  2022-04-28   7302    1850
28  2022-04-29   6033    2300
29  2022-04-30   4093    1950

In [5]:
df = pd.read_excel("../data/202204health.xlsx")
df

            日付     歩数  摂取カロリー
0   2022-04-01   5439    2500
1   2022-04-02   2510    2300
2   2022-04-03  10238    1950
3   2022-04-04   8209    1850
4   2022-04-05   9434    1930
5   2022-04-06   7593    1800
6   2022-04-07   9320    1940
7   2022-04-08   4873    2300
8   2022-04-09  12045    1950
9   2022-04-10   7493    1850
10  2022-04-11   7289    1930
11  2022-04-12   6481    2300
12  2022-04-13  10287    1800
13  2022-04-14   8043    1940
14  2022-04-15   7435    2300
15  2022-04-16   7529    2300
16  2022-04-17   8031    1940
17  2022-04-18   8475    2300
18  2022-04-19   8132    1950
19  2022-04-20  15328    1800
20  2022-04-21  12849    1940
21  2022-04-22   4029    2300
22  2022-04-23   3890    1950
23  2022-04-24   8093    1850
24  2022-04-25   7823    1950
25  2022-04-26   7492    1850
26  2022-04-27   7203    1930
27  2022-04-28   7302    1850
28  2022-04-29   6033    2300
29  2022-04-30   4093    1950

In [12]:
url = "https://ja.wikipedia.org/wiki/%E3%83%88%E3%83%83%E3%83%97%E3%83%AC%E3%83%99%E3%83%AB%E3%83%89%E3%83%A1%E3%82%A4%E3%83%B3%E4%B8%80%E8%A6%A7"
tables = pd.read_html(
    url,
    flavor="html5lib",
    storage_options={"User-Agent": "Mozilla/5.0"}
)

TypeError: read_html() got an unexpected keyword argument 'storage_options'

In [13]:
len(tables)

NameError: name 'tables' is not defined

In [17]:
df.to_pickle("../data/write_df.pickle")

In [19]:
df = pd.read_pickle("../data/write_df.pickle")